.dropdownTextButton{
    display: flex;
    justify-content: space-between;

}
.dropdownContainer{
    width: 770px;
    border-style: solid;
    border-width: 1px 0;
    border-color: #000;
}

.hiddenText{
    display: none;
}
.dropdownText{
    align-content: justify;
}
.picturesDown{
    width: 770px;
    height:170px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 25px 0px;
}
.picturesDown img{
    width: 248px;
    height: 162px;
    border-radius: 30px;
}